In [16]:
import pandas as pd
df =pd.read_csv('NYPD_Data.csv')
df=df[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'ADDR_PCT_CD']]
df.head()

   CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976     1983/3/3     21:30:00           10
1   267058046     1986/2/7     21:00:00          109
2   712268575    1987/2/25     12:00:00           62
3   761641495    1987/9/18      0:01:00           25
4   710136073     1991/1/1      6:00:00          110

In [17]:
Hour = pd.to_datetime(df['CMPLNT_FR_TM']).dt.hour
df['CMPLNT_FR_TM'] = Hour
df.head()

   CMPLNT_NUM CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976     1983/3/3            21           10
1   267058046     1986/2/7            21          109
2   712268575    1987/2/25            12           62
3   761641495    1987/9/18             0           25
4   710136073     1991/1/1             6          110

In [18]:
import numpy as np
df_ = df.groupby(['CMPLNT_FR_DT', 'CMPLNT_FR_TM','ADDR_PCT_CD']).size()
df_

CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
1983/3/3      21            10             1
1986/2/7      21            109            1
1987/2/25     12            62             1
1987/9/18     0             25             1
1991/1/1      6             110            1
1993/10/17    12            23             1
1995/1/1      12            69             1
1997/6/27     8             75             1
1998/1/1      0             61             1
1999/1/5      9             105            1
2000/5/1      0             114            2
2000/8/30     21            49             1
2001/1/1      0             67             1
                            103            1
2001/1/23     14            19             1
2001/1/5      12            60             1
2001/11/21    0             48             1
2001/12/31    16            84             1
2001/6/20     19            46             1
2001/9/1      16            75             1
2002/1/1      0             113            1
              1             41             1
2003/1/1      0             62             1
2003/2/1      12            105            1
2003/9/1      0             40             1
2004/1/1      0             44             1
              12            70             1
              19            7              1
2004/10/31    17            6              1
2004/3/1      3             70             1
                                          ..
2016/4/9      23            19             2
                            28             1
                            32             1
                            33             1
                            42             1
                            43             7
                            46             2
                            49             1
                            52             5
                            61             2
                            69             1
                            71             1
                            72             1
                            73             1
                            75             4
                            76             1
                            78             1
                            79             1
                            90             1
                            102            3
                            103            1
                            104            3
                            105            2
                            106            1
                            108            2
                            109            2
                            113            1
                            115            2
                            120            1
                            121            1
dtype: int64

In [43]:
X1 = df_.index.get_level_values(0).astype('str')
X1 = np.array(X1)
X1 = pd.to_datetime(X1)
X1 = X1.dayofweek
X1 = np.array(X1).astype('float')
print X1

[ 3.  4.  2. ...,  5.  5.  5.]

In [44]:
X2 = df_.index.get_level_values(1).astype('float')
X2 = np.array(X2)
X3 = df_.index.get_level_values(2).astype('float')
X3 = np.array(X3)
X = np.transpose(np.array([X1,X2,X3]))
Y = df_.values

In [49]:
from sklearn.ensemble import RandomForestClassifier
CLS = RandomForestClassifier(max_depth=10)
CLS.fit(X,Y)
Z = CLS.predict([3, 5 , 1])
print Z

[1]

/Users/liweiyi/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)