In [1]:
import pandas as pd
import numpy as np

df =pd.read_csv('NYPD_Data.csv')
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,394278393,1/1/15,9:00:00,4/15/16,8:30:00,4/15/16,340,FRAUDS,718.0,"FRAUD,UNCLASSIFIED-MISDEMEANOR",...,41,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1015226.0,239233.0,40.823269,-73.888081,"(40.823268829, -73.888081)"
1,722254800,1/1/15,0:01:00,6/11/16,20:15:00,4/10/16,116,SEX CRIMES,168.0,SODOMY 1,...,77,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,997245.0,204130.0,40.726965,-73.953117,"(40.726965067, -73.953116629)"
2,530381050,1/1/15,0:00:00,4/2/16,14:00:00,4/2/16,578,HARRASSMENT 2,638.0,"HARASSMENT,SUBD 3,4,5",...,47,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1023381.0,256426.0,40.870426,-73.858516,"(40.870426138, -73.858515601)"
3,429186741,1/1/15,12:00:00,3/16/16,16:00:00,3/29/16,112,THEFT-FRAUD,739.0,"FRAUD,UNCLASSIFIED-FELONY",...,50,INSIDE,RESIDENCE - PUBLIC HOUSING,NaN,FORT INDEPENDENCE STREET-HEATH AVENUE,1011678.0,259907.0,40.880025,-73.900816,"(40.880024527, -73.900815814)"
4,388921549,1/1/15,0:01:00,5/30/16,19:29:00,3/28/16,340,FRAUDS,718.0,"FRAUD,UNCLASSIFIED-MISDEMEANOR",...,88,INSIDE,RESIDENCE - PUBLIC HOUSING,ROBERT E. VENABLE PARK,INGERSOLL,989561.0,192267.0,40.694412,-73.980849,"(40.694411894, -73.980849181)"

In [2]:
df_=df[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'ADDR_PCT_CD']]
df_.head()

   CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD
0   394278393       1/1/15      9:00:00           41
1   722254800       1/1/15      0:01:00           77
2   530381050       1/1/15      0:00:00           47
3   429186741       1/1/15     12:00:00           50
4   388921549       1/1/15      0:01:00           88

In [3]:
#df_['CMPLNT_FR_DT']
df__ = pd.to_datetime(df_['CMPLNT_FR_DT'])
df_weekdays = df__.dt.dayofweek
df_['CMPLNT_FR_DT'] = df_weekdays
df____ = pd.to_datetime(df_['CMPLNT_FR_TM']).dt.hour
df_['CMPLNT_FR_TM'] = df____[:]/6
df_['CMPLNT_FR_TM'].astype(int)
Day_num = 67
Training_day = 54.0
Testing_day = 13.0
df_
#X_train, X_test, y_train, y_test = train_test_split(
#    X, y, test_size=0.2, random_state=42)
#print np.size(df_)

/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        CMPLNT_NUM  CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0        394278393             3      1.500000           41
1        722254800             3      0.000000           77
2        530381050             3      0.000000           47
3        429186741             3      2.000000           50
4        388921549             3      0.000000           88
5        945734008             3      0.000000           62
6        512397772             3      2.000000          103
7        786804286             3      2.833333           41
8        145394235             3      2.000000          120
9        285692491             3      0.000000           43
10       294791055             3      2.166667           63
11       634845279             3      2.000000           70
12       146626012             3      2.000000           61
13       751267156             3      1.500000           45
14       520685283             3      0.000000           72
15       634520377             3      2.000000          123
16       323609636             3      0.000000           60
17       853891285             3      2.833333           26
18       222254153             3      2.000000          104
19       911813851             3      0.000000           75
20       785938273             3      0.000000           42
21       132139625             3      0.000000          114
22       576428141             3      0.000000           41
23       398284284             3      0.166667          105
24       487300128             3      0.166667          105
25       308029472             3      0.000000          109
26       484301675             3      0.000000            7
27       193915888             3      3.333333           43
28       549698928             3      0.166667          121
29       389125928             3      3.500000           94
...            ...           ...           ...          ...
131255   541298625             3      0.000000          113
131256   211733155             3      0.000000          114
131257   190778141             3      0.000000           52
131258   803972526             3      0.000000           10
131259   742443060             3      0.000000           23
131260   824610060             3      0.000000           40
131261   101658014             3      0.000000           90
131262   107977807             3      0.000000          105
131263   697878956             3      0.000000           43
131264   994242796             3      0.000000          106
131265   840186189             3      0.000000            9
131266   275789143             3      0.000000           76
131267   663792481             3      0.000000          115
131268   837173696             3      0.000000           48
131269   838729662             3      0.000000           75
131270   243526344             3      0.000000           78
131271   923159910             3      0.000000           78
131272   842744708             3      0.000000          107
131273   907679684             3      0.000000           83
131274   296201997             3      0.000000          109
131275   417867915             3      0.000000           19
131276   309843035             3      0.000000           20
131277   934542943             3      0.000000           46
131278   548853451             3      0.000000           69
131279   938951210             3      0.000000           49
131280   796294855             3      0.000000           24
131281   365091258             3      0.000000           49
131282   200276259             3      0.000000            6
131283   818849831             3      0.000000           47
131284   946837056             3      0.000000           42

[131285 rows x 4 columns]

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df_, test_size = 0.194)

423260

In [6]:
X1 = []
X2 = []
X3 = []
Y_test = []
Y_train = []

for day in range(7):
    for hour in range(4):
        for PCT in range(34):
            X1.append(day)
            X2.append(hour)
            X3.append(PCT)
            Y_test.append(0.0)
            Y_train.append(0.0)
            
X1 = np.array(X1)
X2 = np.array(X2)
X3 = np.array(X3)
X = np.transpose(np.array([X1,X2,X3]))            
Y_train = np.array(Y_train)
Y_test = np.array(Y_test)

def calculate_frequency(df_,Num_day,Y):
    CrimeNum = df_.shape[0]
    for i in range(CrimeNum):
        if df_.iloc[i,3] <= 34:
            day_ = df_.iloc[i,1]
            hour_ = int(df_.iloc[i,2])
            #print hour_
            #print type(hour_)
            PCT_ = df_.iloc[i,3]
            Y[int(day_*4*34+hour_*34+PCT_-1)] += 1.0
    Y = Y/Num_day
    return Y

Y_train = calculate_frequency(train,Training_day,Y_train)
Y_test = calculate_frequency(test,Testing_day,Y_test)

In [8]:

from sklearn.ensemble import RandomForestRegressor
CLS = RandomForestRegressor(max_depth=50,n_estimators=20)
CLS.fit(X,Y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=50,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=20, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [9]:
print CLS.score(X,Y_test)

0.869499335441

In [10]:
Z = []
for i in range(30):
    Z.append(CLS.predict([0, 0 , i]))
print Z

/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

[array([ 0.41944444]), array([ 0.]), array([ 0.]), array([ 0.]), array([ 0.29722222]), array([ 0.41944444]), array([ 0.28981481]), array([ 0.01481481]), array([ 0.31574074]), array([ 0.27777778]), array([ 0.]), array([ 0.]), array([ 0.36574074]), array([ 0.45]), array([ 0.]), array([ 0.]), array([ 0.23981481]), array([ 0.40277778]), array([ 0.27962963]), array([ 0.3]), array([ 0.00277778]), array([ 0.01481481]), array([ 0.40555556]), array([ 0.37407407]), array([ 0.3462963]), array([ 0.19166667]), array([ 0.]), array([ 0.28796296]), array([ 0.]), array([ 0.27314815])]

/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)