In [1]:
import pandas as pd
df =pd.read_csv('NYPD_Data.csv')
df.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,...,ADDR_PCT_CD,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,PARKS_NM,HADEVELOPT,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon
0,822760976,1983/3/3,21:30:00,3/4/16,4:00:00,3/4/16,341,PETIT LARCENY,338.0,"LARCENY,PETIT FROM BUILDING,UN",...,10,INSIDE,HOTEL/MOTEL,NaN,NaN,983423.0,209491.0,40.741689,-74.002986,"(40.7416892, -74.002985851)"
1,267058046,1986/2/7,21:00:00,6/17/16,13:10:00,4/16/16,104,RAPE,157.0,RAPE 1,...,109,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,1007115.0,237715.0,40.819127,-73.917392,"(40.819127068, -73.917392286)"
2,712268575,1987/2/25,12:00:00,2/23/16,9:53:00,2/23/16,109,GRAND LARCENY,424.0,"LARCENY,GRAND BY CREDIT CARD ACCT COMPROMISE-E...",...,62,INSIDE,RESIDENCE - APT. HOUSE,NaN,RED HOOK WEST,989266.0,157706.0,40.599550,-73.981939,"(40.599549586, -73.981938688)"
3,761641495,1987/9/18,0:01:00,2/2/16,14:46:00,2/2/16,109,GRAND LARCENY,432.0,"LARCENY,GRAND BY IDENTITY THEFT-UNCLASSIFIED",...,25,INSIDE,RESIDENCE - APT. HOUSE,NaN,NaN,999588.0,230862.0,40.800334,-73.944602,"(40.800333759, -73.9446023)"
4,710136073,1991/1/1,6:00:00,1/1/93,6:00:00,4/7/16,104,RAPE,157.0,RAPE 1,...,110,INSIDE,RESIDENCE-HOUSE,NaN,NaN,981530.0,173860.0,40.643890,-74.009803,"(40.643889954, -74.009802745)"

In [2]:
df_=df[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'ADDR_PCT_CD']]
df_.head()

   CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976     1983/3/3     21:30:00           10
1   267058046     1986/2/7     21:00:00          109
2   712268575    1987/2/25     12:00:00           62
3   761641495    1987/9/18      0:01:00           25
4   710136073     1991/1/1      6:00:00          110

In [3]:
#df_['CMPLNT_FR_DT']
df__ = pd.to_datetime(df_['CMPLNT_FR_DT'])
df__.head()

0   1983-03-03
1   1986-02-07
2   1987-02-25
3   1987-09-18
4   1991-01-01
Name: CMPLNT_FR_DT, dtype: datetime64[ns]

In [4]:
df_weekdays = df__.dt.dayofweek
df_weekdays.head()

0    3
1    4
2    2
3    4
4    1
Name: CMPLNT_FR_DT, dtype: int64

In [5]:
df_['CMPLNT_FR_DT'] = df_weekdays
df_.head()

/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   CMPLNT_NUM  CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976             3     21:30:00           10
1   267058046             4     21:00:00          109
2   712268575             2     12:00:00           62
3   761641495             4      0:01:00           25
4   710136073             1      6:00:00          110

In [6]:
df____ = pd.to_datetime(df_['CMPLNT_FR_TM']).dt.hour
df____.head()

0    21
1    21
2    12
3     0
4     6
Name: CMPLNT_FR_TM, dtype: int64

In [7]:
df_['CMPLNT_FR_TM'] = df____
df_.head()

/Users/hongyuanqing/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

   CMPLNT_NUM  CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976             3            21           10
1   267058046             4            21          109
2   712268575             2            12           62
3   761641495             4             0           25
4   710136073             1             6          110

In [8]:
import numpy as np
#df_.groupby(['CMPLNT_FR_DT', 'CMPLNT_FR_TM']).agg({'df_': [np.size]})

df2 = df_.groupby(['CMPLNT_FR_DT','CMPLNT_FR_TM','ADDR_PCT_CD']).size()
df2

CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0             0             1               8
                            5               5
                            6              10
                            7               6
                            9               5
                            10              6
                            13             15
                            14              9
                            17             11
                            18             11
                            19             10
                            20              9
                            22              1
                            23             11
                            24             14
                            25              5
                            26              2
                            28              6
                            30              5
                            32              6
                            33              7
                            34             14
                            40             19
                            41             13
                            42              6
                            43             22
                            44             15
                            45              9
                            46             10
                            47             19
                                           ..
6             23            76              7
                            77              6
                            78              6
                            79             14
                            81             11
                            83              4
                            84              3
                            88              6
                            90             13
                            94              5
                            100             3
                            101             7
                            102             9
                            103             7
                            104            13
                            105            13
                            106            19
                            107            12
                            108             3
                            109            17
                            110             6
                            111             4
                            112             4
                            113            14
                            114            16
                            115            14
                            120            12
                            121             6
                            122             6
                            123             2
dtype: int64

In [9]:
example_pivot_table = pd.pivot_table(df_, values='CMPLNT_NUM', columns=['CMPLNT_FR_DT','CMPLNT_FR_TM','ADDR_PCT_CD'], aggfunc='count')
print example_pivot_table

CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0             0             1               8
                            5               5
                            6              10
                            7               6
                            9               5
                            10              6
                            13             15
                            14              9
                            17             11
                            18             11
                            19             10
                            20              9
                            22              1
                            23             11
                            24             14
                            25              5
                            26              2
                            28              6
                            30              5
                            32              6
                            33              7
                            34             14
                            40             19
                            41             13
                            42              6
                            43             22
                            44             15
                            45              9
                            46             10
                            47             19
                                           ..
6             23            76              7
                            77              6
                            78              6
                            79             14
                            81             11
                            83              4
                            84              3
                            88              6
                            90             13
                            94              5
                            100             3
                            101             7
                            102             9
                            103             7
                            104            13
                            105            13
                            106            19
                            107            12
                            108             3
                            109            17
                            110             6
                            111             4
                            112             4
                            113            14
                            114            16
                            115            14
                            120            12
                            121             6
                            122             6
                            123             2
dtype: int64

In [ ]:
abc = example_pivot_table.index.get_level_values(2).astype('float')
print abc

In [ ]:
print abc[4]/abc[5]

In [ ]:
example_pivot_table[]

In [ ]:
example_pivot_table['Value']

In [ ]:
abc = example_pivot_table.index.get_level_values(2).astype('float')
print abc

In [14]:
example_pivot_table['CMPLNT_NUM']

KeyError: 'CMPLNT_NUM'

In [ ]:
unstack()