In [1]:
import pandas as pd
df =pd.read_csv('NYPD_Data.csv')
df=df[['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'ADDR_PCT_CD']]
df.head()

   CMPLNT_NUM CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976     1983/3/3     21:30:00           10
1   267058046     1986/2/7     21:00:00          109
2   712268575    1987/2/25     12:00:00           62
3   761641495    1987/9/18      0:01:00           25
4   710136073     1991/1/1      6:00:00          110

In [3]:
Date = pd.to_datetime(df['CMPLNT_FR_DT'])
df_weekdays = Date.dt.dayofweek
df['CMPLNT_FR_DT'] = df_weekdays
df.head()

   CMPLNT_NUM  CMPLNT_FR_DT CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976             3     21:30:00           10
1   267058046             4     21:00:00          109
2   712268575             2     12:00:00           62
3   761641495             4      0:01:00           25
4   710136073             1      6:00:00          110

In [4]:
Hour = pd.to_datetime(df['CMPLNT_FR_TM']).dt.hour
df['CMPLNT_FR_TM'] = Hour
df.head()

   CMPLNT_NUM  CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0   822760976             3            21           10
1   267058046             4            21          109
2   712268575             2            12           62
3   761641495             4             0           25
4   710136073             1             6          110

In [5]:
import numpy as np
df = df.groupby(['CMPLNT_FR_DT', 'CMPLNT_FR_TM','ADDR_PCT_CD']).size()
df.head()

CMPLNT_FR_DT  CMPLNT_FR_TM  ADDR_PCT_CD
0             0             1               8
                            5               5
                            6              10
                            7               6
                            9               5
dtype: int64

In [7]:
X1 = df.index.get_level_values(0).astype('float')
X1 = np.array(X1)
X2 = df.index.get_level_values(1).astype('float')
X2 = np.array(X2)
X3 = df.index.get_level_values(2).astype('float')
X3 = np.array(X3)
X = np.transpose(np.array([X1,X2,X3]))
Y = df.values

In [10]:
from sklearn.ensemble import RandomForestClassifier
CLS = RandomForestClassifier(max_depth=10)
CLS.fit(X,Y)
Z = CLS.predict([0, 0 , 1])
print Z

[8]

/Users/liweiyi/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)